<section class="container my-5">
    <div class="row">
        <h1>#1</h1>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Phone</span>
                </div>
                <input type="text" class="form-control" name="phone" id="phone">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" (click)="search()">search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6" *ngIf="isSearch">
            <dual-list [source]="source" [(destination)]="target" [filter]="filter" height="200px"></dual-list>
        </div>
    </div>
    <hr>
    <div class="row">
        <h1>#2</h1>
    </div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Phone</span>
                </div>
                <input type="text" class="form-control" name="phone" id="phone">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" (click)="search2()">search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6" *ngIf="isSearch2">
            <app-custom-dual-list [source]="source" [(destination)]="target" height="350px" (selectChange)="showMessage($event)"
                sourceName="Whitelist" targetName="Blacklist" [sort]="true" [compare]="compare"></app-custom-dual-list>
        </div>
    </div>
</section>
